@import "tailwindcss";

@theme {
  --color-brand-light: #FFFFFF;
  --color-brand-dark: #111111;
  --color-brand-blue: #F2F5F5;
  --color-brand-blue-hover: #E2E8E8;
  --color-brand-accent: #005F56;
  --color-brand-accent-hover: #004A43;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

