@import "tailwindcss";

@theme {
  --color-brand-light: #FBFAF3;
  --color-brand-dark: #122131;
  --color-brand-blue: #4086D2;
  --color-brand-blue-hover: #6391F5;
  --color-brand-accent: #8CBDF6;
  --color-brand-accent-hover: #BBD0F1;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

